.imageSection {
  border:none;
  margin-top: -3rem;
  margin-bottom: 5rem;
  position:relative;
  z-index: 1000;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  
  @media only screen and (max-width: $large){
    display: block;
  }

  @media only screen and (max-width: $extra-large){
    display: block;
  }

  &-image {
    width: 60%;
    margin-left: 4rem;
    border-radius: 2rem;

    @media only screen and (max-width: $large){
      width: 80%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $extra-large){
      width: 60%;
      margin: 0 auto;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
      clip-path: polygon(0 3.5%, 2% 3%,7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%,12% 3%,12.5% 3.1%, 15% 4%,17.7% 2.1%,18% 2%, 19.5% 2.5%,23% 3%, 28% 3%,29% 3.5%, 31% 4%,32% 5%,34.5% 3.2%,35% 3%,36% 3.3%,39% 5%, 48% 0,50% 1%,52.5% 1%,53% 1.1%,58% 5%, 60% 4.7%,63.5% 3%,64% 3.1%,64.5% 3%,65% 3.2%, 66% 3.1%,69% 4%,70% 4.3%,73% 5%,75% 4.6%,77% 4.3%,77.6% 4.1%,78% 4%,79% 4.6%,80% 5%,80.5% 4.8%,83% 3%,85% 3.7%,86% 3.5%,87% 3.7%,88% 3%,93% 3.7%, 94% 2.7%, 95% 3%,96% 2.9%,100% 3.5%, 100% 100%,0 100%);
    }
  }
  
  &-description {
    display: flex;
    z-index: 1000;
    width: 100%;
    padding: 2rem 1rem;

    @media only screen and (max-width: $large){
      display: block;
      text-align: center;
    }

    @media only screen and (max-width: $extra-large){
      display: block;
      text-align: center;
    }

    h1 {
      font-size: 2.4rem;
      text-transform: uppercase;
      color: $color-dark-shade-scheme-3;
      margin-left: 1rem;

      @media only screen and (max-width: $large){
        margin-bottom: 2rem;
      }

      @media only screen and (max-width: $extra-large){
        margin-bottom: 2rem;
      }
      
    }

    h2 {
      margin-left: 5rem;
      font-size: 1.4rem;
      font-weight: 300;
    }
    
  }
  
}