#canvas-container {
  position: relative;
}

.tour {
  &-button {
    position: absolute;
    bottom: 25%;
    left: 47.5%;
    color: $color-scheme-1;
    font-size: 2.8rem;
    background-color: $color-light-shade-scheme-1;
    padding: 1rem 2rem;
    border-radius: 2rem;
    z-index: 1000;
    box-shadow: .2rem .5rem .5rem .2rem rgba(78, 77, 77, 0.5);
    transition: all .5s;

    @media only screen and (max-width: $large){
      left: 45%;
    }

    &:hover {
      cursor: pointer;
      padding: 1rem 2.5rem;
      box-shadow: .5rem .5rem .5rem .4rem rgba(0,0,0, 0.3);
    }
    
  }
}