*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: env(safe-area-inset); }

html,
body {
  overflow-x: hidden; }

body {
  font-family: "didot";
  font-style: normal;
  color: black;
  font-weight: 300;
  line-height: 1.6; }
  body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #52485C; }
  body::-webkit-scrollbar-thumb {
    background-color: white; }

#canvas-container {
  position: relative; }

.tour-button {
  position: absolute;
  bottom: 25%;
  left: 47.5%;
  color: #52485C;
  font-size: 2.8rem;
  background-color: #dbdbdb;
  padding: 1rem 2rem;
  border-radius: 2rem;
  z-index: 1000;
  box-shadow: 0.2rem 0.5rem 0.5rem 0.2rem rgba(78, 77, 77, 0.5);
  transition: all .5s; }
  @media only screen and (max-width: 992px) {
    .tour-button {
      left: 45%; } }
  .tour-button:hover {
    cursor: pointer;
    padding: 1rem 2.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.3); }

.nav {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 2.5rem; }
  @media only screen and (max-width: 992px) {
    .nav {
      display: none; } }
  .nav-logo {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 700; }
    .nav-logo:hover {
      cursor: pointer; }
  .nav-menu {
    display: flex;
    align-items: center; }
    .nav-menu-item {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 500;
      margin-right: 2rem;
      color: white;
      text-transform: capitalize;
      border-bottom: solid 0.1rem transparent;
      border-bottom: .2rem solid white;
      padding: 1rem 2rem;
      transition: all 0.5s;
      text-decoration: none;
      position: relative; }
      .nav-menu-item:hover {
        cursor: pointer;
        border-bottom: solid 0.1rem white; }
      .nav-menu-item:hover > div {
        font-size: 1.2rem;
        visibility: visible; }
      .nav-menu-item svg {
        margin-left: 0.1rem;
        width: 2.5rem;
        height: 2.5rem;
        fill: white !important; }
      .nav-menu-item-dropdown {
        position: absolute;
        top: 100%;
        width: 150%;
        font-size: 0rem;
        visibility: hidden;
        background-color: white;
        transition: all 0.3s;
        text-transform: uppercase;
        z-index: 100; }
        .nav-menu-item-dropdown-item {
          display: flex;
          padding: 0.5rem 1rem;
          height: 100%;
          width: 100%;
          color: black;
          text-decoration: none;
          outline: none;
          transition: all .3s; }
          .nav-menu-item-dropdown-item:hover {
            cursor: pointer;
            background-color: #404141;
            color: white; }

.nav-mobile {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 2rem;
  display: none; }
  @media only screen and (max-width: 992px) {
    .nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .nav-mobile-logo {
    display: flex;
    align-items: center;
    width: 25rem;
    font-size: 2.4rem;
    height: 100%; }
    .nav-mobile-logo:hover {
      cursor: pointer; }
  .nav-mobile-menu-checkbox {
    display: none; }
  .nav-mobile-menu-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
    .nav-mobile-menu-burger:hover {
      cursor: pointer; }
  .nav-mobile-menu-icon {
    position: relative; }
    .nav-mobile-menu-icon, .nav-mobile-menu-icon::before, .nav-mobile-menu-icon::after {
      width: 3rem;
      height: 0.2rem;
      background-color: white;
      display: inline-block;
      z-index: 4500 !important; }
    .nav-mobile-menu-icon::before, .nav-mobile-menu-icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
      z-index: 100 !important; }
    .nav-mobile-menu-icon::before {
      top: -0.8rem;
      z-index: 100 !important; }
    .nav-mobile-menu-icon::after {
      top: 0.8rem;
      z-index: 100 !important; }
  .nav-mobile-menu-burger:hover .nav-mobile-menu-icon::before {
    top: -1rem; }
  .nav-mobile-menu-burger:hover .nav-mobile-menu-icon::after {
    top: 1rem; }
  .nav-mobile-menu-checkbox:checked + .nav-mobile-menu-burger .nav-mobile-menu-icon {
    background-color: transparent; }
  .nav-mobile-menu-checkbox:checked + .nav-mobile-menu-burger .nav-mobile-menu-icon::before {
    top: 0;
    background-color: white;
    transform: rotate(135deg); }
  .nav-mobile-menu-checkbox:checked + .nav-mobile-menu-burger .nav-mobile-menu-icon::after {
    top: 0;
    background-color: white;
    transform: rotate(-135deg); }
  .nav-mobile-menu-background {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: -1 !important;
    background-color: transparent;
    transition: all 0.5s ease-in-out; }
    @media only screen and (max-width: 1050px) {
      .nav-mobile-menu-background {
        position: absolute; } }
  .nav-mobile-menu-checkbox:checked ~ .nav-mobile-menu-background {
    position: fixed;
    transform: scale(80);
    background-image: radial-gradient(#52485C, #52485C);
    z-index: 3000 !important; }

.wrapper {
  padding-left: 15rem !important;
  padding-right: 15rem !important; }
  @media only screen and (max-width: 992px) {
    .wrapper {
      padding-left: 5rem !important;
      padding-right: 5rem !important; } }
  @media only screen and (max-width: 600px) {
    .wrapper {
      padding-left: 3rem !important;
      padding-right: 3rem !important; } }

.imageSection {
  border: none;
  margin-top: -3rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1000;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .imageSection {
      display: block; } }
  @media only screen and (max-width: 1250px) {
    .imageSection {
      display: block; } }
  .imageSection-image {
    width: 60%;
    margin-left: 4rem;
    border-radius: 2rem; }
    @media only screen and (max-width: 992px) {
      .imageSection-image {
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (max-width: 1250px) {
      .imageSection-image {
        width: 60%;
        margin: 0 auto; } }
    .imageSection-image img {
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
      clip-path: polygon(0 3.5%, 2% 3%, 7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%, 12% 3%, 12.5% 3.1%, 15% 4%, 17.7% 2.1%, 18% 2%, 19.5% 2.5%, 23% 3%, 28% 3%, 29% 3.5%, 31% 4%, 32% 5%, 34.5% 3.2%, 35% 3%, 36% 3.3%, 39% 5%, 48% 0, 50% 1%, 52.5% 1%, 53% 1.1%, 58% 5%, 60% 4.7%, 63.5% 3%, 64% 3.1%, 64.5% 3%, 65% 3.2%, 66% 3.1%, 69% 4%, 70% 4.3%, 73% 5%, 75% 4.6%, 77% 4.3%, 77.6% 4.1%, 78% 4%, 79% 4.6%, 80% 5%, 80.5% 4.8%, 83% 3%, 85% 3.7%, 86% 3.5%, 87% 3.7%, 88% 3%, 93% 3.7%, 94% 2.7%, 95% 3%, 96% 2.9%, 100% 3.5%, 100% 100%, 0 100%); }
  .imageSection-description {
    display: flex;
    z-index: 1000;
    width: 100%;
    padding: 2rem 1rem; }
    @media only screen and (max-width: 992px) {
      .imageSection-description {
        display: block;
        text-align: center; } }
    @media only screen and (max-width: 1250px) {
      .imageSection-description {
        display: block;
        text-align: center; } }
    .imageSection-description h1 {
      font-size: 2.4rem;
      text-transform: uppercase;
      color: #666;
      margin-left: 1rem; }
      @media only screen and (max-width: 992px) {
        .imageSection-description h1 {
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 1250px) {
        .imageSection-description h1 {
          margin-bottom: 2rem; } }
    .imageSection-description h2 {
      margin-left: 5rem;
      font-size: 1.4rem;
      font-weight: 300; }

.boxSection {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  align-items: center; }
  .boxSection-item {
    border: 0.2rem solid #ededec;
    width: 31%;
    height: 40rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    transition: all .5s; }
    @media only screen and (max-width: 992px) {
      .boxSection-item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 1250px) {
      .boxSection-item {
        width: 45%;
        margin: 0 auto;
        margin-bottom: 3rem;
        margin-left: 3rem; } }
    .boxSection-item:hover {
      cursor: pointer; }
    .boxSection-item-image {
      width: 100%;
      height: 60%; }
      .boxSection-item-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .boxSection-item-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem 0; }
      .boxSection-item-description h1 {
        text-transform: uppercase;
        font-size: 2.2rem;
        color: #410a0e; }
      .boxSection-item-description button {
        border: none;
        margin: 1rem 0;
        padding: 1rem 2rem;
        background-color: transparent;
        font-family: 'BenchNine';
        font-size: 1.4rem;
        cursor: pointer;
        position: relative; }
        .boxSection-item-description button:before {
          content: "";
          position: absolute;
          width: 2rem;
          height: 0%;
          top: 0;
          left: 40%;
          border-top: 2px solid #410a0e;
          transition: all 0.25s; }
        .boxSection-item-description button:hover::before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%; }
        .boxSection-item-description button:after {
          content: "";
          position: absolute;
          width: 2rem;
          bottom: 0;
          left: 40%;
          border-bottom: 2px solid #410a0e;
          transition: all 0.25s; }
        .boxSection-item-description button:hover::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%; }

.clipPath--mtn2--T {
  clip-path: polygon(0 3.5%, 2% 3%, 7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%, 12% 3%, 12.5% 3.1%, 15% 4%, 17.7% 2.1%, 18% 2%, 19.5% 2.5%, 23% 3%, 28% 3%, 29% 3.5%, 31% 4%, 32% 5%, 34.5% 3.2%, 35% 3%, 36% 3.3%, 39% 5%, 48% 0, 50% 1%, 52.5% 1%, 53% 1.1%, 58% 5%, 60% 4.7%, 63.5% 3%, 64% 3.1%, 64.5% 3%, 65% 3.2%, 66% 3.1%, 69% 4%, 70% 4.3%, 73% 5%, 75% 4.6%, 77% 4.3%, 77.6% 4.1%, 78% 4%, 79% 4.6%, 80% 5%, 80.5% 4.8%, 83% 3%, 85% 3.7%, 86% 3.5%, 87% 3.7%, 88% 3%, 93% 3.7%, 94% 2.7%, 95% 3%, 96% 2.9%, 100% 3.5%, 100% 100%, 0 100%);
  padding-top: 6rem; }
