body {
  width: 100%;
  overflow-x: hidden;
  
}

#canvas-container {
  position: relative;
}

.nav {
  position: absolute;
  top: 0%;
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding: 2rem;
}